@font-face {
  font-family: "myFont";
  src: url("../FreeSansBold.ttf");
}

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "myFont", DFkai-sb, sans-self;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  #myCanvas {
    border: 5px solid lightgreen;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .score {
    width: 70%;
    display: flex;
    justify-content: space-between;
    #myScore,
    #myScore2 {
      color: white;
      font-size: 1.5rem;
      padding: 10px;
    }
  }
  .btnGroup {
    display: flex;
    #Start,
    #simpleBtn,
    #normalBtn,
    #difficultBtn,
    #Pause {
      margin-right: 1rem;
      padding: 0.25rem 0.5rem;
      background-color: yellow;
      font-size: 1.15rem;
      margin-top: 1rem;
      display: block;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }

    #Start {
      background-color: red;
      margin-right: 2rem;
      color: white;
    }

    #Pause {
      background-color: blue;
      margin-left: 1rem;
      color: white;
      visibility: none;
    }
  }
}
